{
  "extends": [
    "plugin:flowtype/recommended",
    "airbnb-base",
    "prettier"
  ],
  "plugins": [
    "flowtype",
    "prettier"
  ],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": ["error", { "semi": false }]
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  }
}
